.App {
  text-align: center;
  background: black;
}

body {
  /* background: #F3F3F3;  */
  background: seashell; 
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar-container {
  top: 0%;
  left: 0%;
  right: auto;
  bottom: auto;
  z-index: 101;
  background: #282c34;
  width: 100%;
  position: fixed;
}

/* .feed-profile-side {
  top: 4%;
  left: auto;
  right: auto;
  bottom: auto;
  /* z-index: 101; */
  /* background: #282c34; */
  /* width: 100%; */
  /* position: fixed; */
/* } */